# This file outlines the users who own various parts of the code in this repository
# If you have any issues with the code, or wish to contribute then these people are the ones you should talk to
# 
# I've decided to use user's email addresses instead of their GitHub usernames because it is much easier to understand
# if you download/clone this repository. You don't have to worry about GitHub usernames changing or any of that stuff.
#
# == BEGIN CODEOWNERS ==
#
# Global code owners - people who own all of the code across the entire repository and all branches in the repository
* sanelk2004@icloud.com
#
# == END CODEOWNERS ==
