<head>
    <title>{{ if .IsHome }}Home - {{ else }}{{ if .Page.Title }} {{ .Page.Title }} - {{ end }}{{ end }}{{ .Site.Title }}</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta charset="utf-8"/>
    <meta name="wot-verification" content="3dc144964de31942468b"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="#000084" />
    <link rel="icon" href="{{ .Site.BaseURL }}/favicon.ico">
    <link rel="canonical" href="{{ if .IsHome }}{{ .Site.BaseURL }}{{ else }}{{ if .Page.Permalink }}{{ .Page.Permalink }}{{end}}{{end}}">
    <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.mainpagedesc }}{{ else }}{{ if .Page.Description }}{{ .Page.Description }}{{ end }}{{ end }}"/>
    <meta property="og:title" content="{{ if .IsHome }}Home - {{ else }}{{ if .Page.Title }} {{ .Page.Title }} - {{ end }}{{ end }}{{ .Site.Title }}"/>
    <meta property="og:description" content="{{ if .IsHome }}{{ .Site.Params.mainpagedesc }}{{ else }}{{ if .Page.Description }}{{ .Page.Description }}{{ end }}{{ end }}"/>
    <meta property="og:url" content="{{ if .IsHome }}{{ .Site.BaseURL }}{{ else }}{{ if .Page.Permalink }}{{ .Page.Permalink }}{{end}}{{end}}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:image" content=" {{ .Site.BaseURL }}/profile_picture.png"/>
    <meta property="og:image:alt" content="Site Favicon"/>
    <meta property="leggo-my-eggo" content="RUdHe2Q0ZGY2MjBiLTVhYjUtNGE5Ny05MWQ0LWRiNjljM2VmM2NiN30"/>
    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "4c39411aa25f49958ba30182293a0443"}'></script><!-- End Cloudflare Web Analytics -->
    {{/* Don't ask why it's like this. This original theme is a mess... */}}
    <!-- <noscript><style>body { visibility: visible }</style></noscript> -->
</head>
